h1 {
    text-align: center;
    font-size: 35px;
    color: red;
    margin-top: 20px;
}

h2{
    text-align: center;
}

img:first-of-type {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

p a[href*="tiktok.com"] {
    display: block;
    text-align: center;
    font-size: 30px;
    margin-top: 20px; 
}